node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.eslintrc.cjs
vite.config.js
dist
build
.coverage
.nyc_output
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
